PORT=5001
MONGODB_URL=mongodb://localhost:27017/my-project
MONGO_URI=mongodb://localhost:27017/my-project

# Firebase Admin SDK
FIREBASE_PROJECT_ID=jaaamin-rox

# PRODUCTION ONLY:
# FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@jaaamin-rox.iam.gserviceaccount.com
# FIREBASE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n"
